

.grid-container{
    height: 100vh;
    display: grid;
    grid-template: auto 1fr /1fr 3fr;

}

/* HEADER */
header{
    background-color: aqua;
    grid-column: 2/3;
}


/* SIDEBAR */
.sidebar{
    background-color: lightblue;
    grid-column: 1;
    grid-row: 1/3;
}


/* MAIN */
main{
    background-color: lightgoldenrodyellow;
    display: flex;
    
}

main .projects{
    background-color: lightcoral;
    flex: 1;
}

main .misc{
    background-color: lightseagreen;
}

